<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
    integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
  <title>Exchange</title>
</head>

<body  style="position: relative">
  <nav class="navbar bg-dark navbar-dark navbar-expand-sm justify-content-center fixed-top">
    <a href="" class="navbar-brand"><i class="fas fa-hand-holding-usd mr-2"></i>exChange</a>
  </nav>
  
  <div id="mainContent" style="padding-top:150px;padding-bottom: 150px; ">
    <div class="container bg-light shadow rounded">
      <div class="row">
        <div id="rightContent"class="col-md-8" style="padding-top: 150px;">
          <div class="row">
            <div class="col">
              <h5 style="text-align: center;">Kur Hesaplama</h5>
            </div>
          </div>
          <div id="formDiv" class="container d-flex justify-content-center">
            <form action="" method="post">
              {% csrf_token %}
              <input type="text" name="money">
              <select name="moneys">
                <option value="usd">USD</option>
                <option value="euro">EUR</option>
                <option value="gbp">GBP</option>
                <option value="aud">AUD</option>
                <option value="cad">CAD</option>
                <option value="chf">CHF</option>
                <option value="cny">CNY</option>
                <option value="rub">RUB</option>
                <option value="sek">SEK</option>
              </select>
              <button type="sumbit" class="btn btn-success">Hesapla</button>
              <br>
              <input type="text" value="{{moneyback}} TL">
            </form>
          </div>
        </div>
        <div id="leftContent" class="col-md-4" style="padding-top: 15px;">
          <h5 style="text-align: center;margin-bottom: 10px;">Güncel Döviz Kurları</h5>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Döviz Cinsi</th>
                <th scope="col">Son Değeri</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><b>USD</b></td>
                <td>{{dolarValue}}</td>
              </tr>
              <tr>
                <td><b>EUR</b></td>
                <td>{{euroValue}}</td>
              </tr>
              <tr>
                <td><b>GBP</b></td>
                <td>{{gbpValue}}</td>
              </tr>
              <tr>
                <td><b>AUD</b></td>
                <td>{{audValue}}</td>
              </tr>
              <tr>
                <td><b>CAD</b></td>
                <td>{{cadValue}}</td>
              </tr>
              <tr>
                <td><b>CHF</b></td>
                <td>{{chfValue}}</td>
              </tr>
              <tr>
                <td><b>CNY</b></td>
                <td>{{cnyValue}}</td>
              </tr>
              <tr>
                <td><b>RUB</b></td>
                <td>{{rubValue}}</td>
              </tr>
              <tr>
                <td><b>SEK</b></td>
                <td>{{sekValue}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <footer class="bg-dark" style="position: absolute; bottom: 0;width: 100%; padding-top: 5px;padding-top: 5px;">
    <div class="text-light text-center"> That Site has made with Python using Django.</div>
    <div class="container">
      <div class="row pb-2">
        <div class="col-sm-6 d-flex justify-content-center">
          <a class="text-light" target="_blank" href="https://github.com/volkankaraali">©2020 Volkan Karaali</a>
        </div>
        <div class="col-sm-6 d-flex justify-content-center">
          <a class="text-light" target="_blank" href="https://exchangeratesapi.io/">Powered By exchangeratesapi.io</a>
        </div>
      </div>
    </div>
  </footer>


  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

</body>

</html>